html,
body {
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.changetheme {
  float: left;
  
 
}
.changetheme img{
  width: 20px;
  position: fixed;
  padding: 20px;
  transition: 0.3s;
}
.changetheme img:hover{
width: 40px ;
}